*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;

  color: #2e2e2e;
}
.container {
  display: flex;
}

header {
  display: block;
  font-weight: 300;
  font-size: 2rem;
  color: black;
}
section header {
  margin: 10px 0;
}
.test {
  text-align: center;
  padding: 15px;
  font-size: 1.8rem;
}
.navbar-content {
  display: flex;
  width: 300px;
  flex-direction: column;
  position: sticky;
  top: 0;
  border-right: 3px solid #96d6a7;
  height: 100vh;
}
.nav-link {
  text-decoration: none;
  color:#2e2e2e;
  padding: 10px 0;
  border-top: 1px solid #96d6a7;
  font-size: 1.1rem;
}
.nav-link-text {
  margin-left: 30px;
}

main {
  margin: 35px 0 0 35px;
}
p {
  font-size: 0.98rem;
  margin: 20px 0 0 20px;
}
.main-tab {
  margin:0 30px 60px 0;
}
ul {
  margin:20px 0 0 40px;
}
li {
  margin-top: 15px;
}
code {
  background-color: gray;
  border-radius: 5px;
  display: block;
  padding: 20px;
  margin: 20px 30px;
  white-space: pre-line;
  position: relative;
  line-height: 2;
  background-color: #f7f7f7;
  font-size: 0.9rem;
}

@media only screen and (max-width: 900px) {
  .main-tab {
    margin:0 10px 60px 0;
  }
  main {
    margin: 35px 0 0 10px;
  }
  ul {
    margin:10px 0 0 5px;
  }
  li {
    margin-top: 5px;
  }
  section header {
    text-align: center;
  }
  code {
    font-size: 0.7rem;
    padding: 20px;
    margin: 10px 10px;
  }
}

@media only screen and (max-width: 800px) {
  nav {
    display: none;
  }
}
